@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 40 40% 98%;
    --foreground: 67 15% 31%;

    --card: 0 0% 100%;
    --card-foreground: 67 15% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 67 15% 31%;

    --primary: 67 15% 31%;
    --primary-foreground: 0 0% 100%;

    --secondary: 40 29% 67%;
    --secondary-foreground: 67 15% 20%;

    --muted: 40 30% 95%;
    --muted-foreground: 67 10% 40%;

    --accent: 348 65% 79%;
    --accent-foreground: 67 15% 20%;
    
    --accent-hover: 348 45% 88%;

    --badge: 72 18% 38%;
    --badge-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 20% 88%;
    --input: 40 20% 88%;
    --ring: 67 15% 31%;

    --radius: 0.75rem;

    --sidebar-background: 40 40% 98%;
    --sidebar-foreground: 67 15% 31%;
    --sidebar-primary: 67 15% 31%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 40 30% 95%;
    --sidebar-accent-foreground: 67 15% 31%;
    --sidebar-border: 40 20% 88%;
    --sidebar-ring: 67 15% 31%;
  }

  .dark {
    --background: 67 15% 20%;
    --foreground: 40 40% 98%;

    --card: 67 15% 25%;
    --card-foreground: 40 40% 98%;

    --popover: 67 15% 25%;
    --popover-foreground: 40 40% 98%;

    --primary: 348 65% 79%;
    --primary-foreground: 67 15% 31%;

    --secondary: 67 15% 30%;
    --secondary-foreground: 40 40% 98%;

    --muted: 67 15% 30%;
    --muted-foreground: 40 20% 70%;

    --accent: 348 65% 79%;
    --accent-foreground: 67 15% 31%;

    --accent-hover: 348 45% 88%;

    --badge: 72 18% 38%;
    --badge-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 40% 98%;

    --border: 67 15% 30%;
    --input: 67 15% 30%;
    --ring: 348 65% 79%;
    --sidebar-background: 67 15% 20%;
    --sidebar-foreground: 40 40% 98%;
    --sidebar-primary: 348 65% 79%;
    --sidebar-primary-foreground: 67 15% 31%;
    --sidebar-accent: 67 15% 30%;
    --sidebar-accent-foreground: 40 40% 98%;
    --sidebar-border: 67 15% 30%;
    --sidebar-ring: 348 65% 79%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
